body {
  background-color: #C5D7E4;
}

.heading-font {
  color: #5662B3;
  font-family: 'Courgette', cursive;
  font-size: 50px;
  text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.4);
}


.quote-font {
  color: #2A3871;
}

.heading-area {
  padding-top: 4vh;
  height: 20vh;
}

.main-area {
  /* height: 25vh; */
  color: #2A3871;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;

  padding-top: 5vh;
}

.author {
  font-size: 16px;
}

.quote-sign {
  font-size: 28px;
}

.button-area {
  height: 20vh;
}

.footer-area {
  height: 10vh;
  background-color: #2A3871;
  color: #C5D7E4;
}

/* CUSTOM ELEMENTS ON PAGE */
#twitter-custom-button {
  display: block;
  padding: 2px 5px 2px 5px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
  border: 1px solid #ccc;
}

.retweet-svg {
  height: 24px;
  width: 24px;
}
